<ion-view view-title="uEase" name="login-view">
	<ion-content class="padding">
		I will do something cool soon engough!
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Customer ID (12 Digit)" ng-model="user.customerID"/>
			</label>
			
			<label class="item item-input">
				<input type="Password" placeholder="Password" ng-model="user.password"/>
			</label>
			
			<button class="button button-block button-positive" ng-click="login()">LOGIN</button>			
		</div>
		
		<div class="row">
			<div class="col col-33">
				<i class="icon ion-person-add"></i><br>
				<a> OPEN RESIDENTAL ACCOUNT</a>
			</div>
			<div class="col col-33">
				<i class="icon ion-person"></i><br>
				<a> TERMINATE RESIDENTAL ACCOUNT</a>
			</div>
			<div class="col col-33">
				<i class="icon ion-flash"></i><br>
				<a> CONSERVATION TIPS</a>
			</div>
		</div>

		<div class="row">
			<div class="col col-33">
				<i class="icon ion-information-circled"></i><br>
				<a> TARIFF </a>
			</div>
			<div class="col col-33">
				<i class="icon ion-help-circled"></i><br>
				<a> FAQ </a>
			</div>
			<div class="col col-33 center">
				<i class="icon ion-android-call"></i><br>
				<a> CONTACT US </a>
			</div>
		</div>
	</ion-content>
</ion-view>
